.playerLise{
   display: flex;
   align-items: baseline;
   gap: 20px
}

.hp-container {
   width: 200px;
   height: 20px;
   background-color: #eee;
   border: 2px solid #333;
   border-radius: 10px;
   overflow: hidden;
   margin-bottom: 5px;
}

.hp-bar {
   height: 100%;
   width: 100%;
   background-color: #4caf50;
   transition: width 0.3s ease;   
}

#button button{
   width: 85px;
   height: 30px;
   box-sizing: border-box;
}

#button {
   display: flex;
   gap: 50px;
   margin-top: 10px;
}

#stateScreen{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
   gap: 10px;
}

#gameScreen{
   display: none;
   justify-content: space-between;
   width: 700px;
   gap: 20px;
}

#log {
   max-height: 120px;
   overflow-y: auto;
}